@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  width: 100dvw;
  height: calc(100vh - (max(80px, 0px)));
}

* {
  box-sizing: border-box;
}

.drop-down {
  background-color: red;
}
.drag-over {
  border-right: 5px solid #007bff !important;
}
.drag-start {
  opacity: 0.1;
  background-color: gray;
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(1px);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-15px);
  }
}
